
/* SearchPage CSS */

#searchPage-container{
  padding-top: 100px;
}

/* SearchResults CSS */

#searchResults-container{
  margin-top: -50px;
}

#invalidSearch{
  z-index: 102;
  opacity: .8;
  margin-right: 10px;
}

.popper-invalid{
  padding: 10px;
  color: red!important;
}
